
  <h2 class="text-center mt-4"><%= @list.title%></h2>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
    <div class="card text-center shadow p-3 mb-5 bg-white rounded">
      <div class="card-header font-italic">
        By Tram Lai
      </div>
      <div class="card-body">
        <p class="card-text text-left"><%= simple_format(@list.description)%></p>
        <%= link_to 'Edit', edit_list_path(@list), class: 'btn btn-success'%>
        <%= link_to 'Delete', list_path(@list), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger'%>
      </div>
      <div class="card-footer text-muted">
        Created <%= time_ago_in_words(@list.created_at) %> ago, updated <%= time_ago_in_words(@list.updated_at) %> ago
      </div>
    </div>
  </div>
  </div>
  </div>
