<h1>This the student details</h1>

</ul>
<table>
  <tr>
  <th>title</th>
  <th>description</th>
  <th>student_id</th>
  </tr>
  <tr>
    <th><%= @list.title %></th>
    <th><%= @list.description %></th>
    <th><%= @list.student_id %></th>
  </tr>

</table>
<%= link_to 'Delete', list_path(@list), method: :delete, data: {confirm: "Are you sure?"} %>|
<%= link_to 'New', new_list_path(@list) %>|
<%= link_to 'Return to the list', lists_path %>
<h2>hii</h2>
